@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    background-image: url('./Assets/nature.jpg');
    width: 100%;
    height:100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    

}
.lo{
    background-image: url('./Assets/nature.jpg');
    /* width: 100%;
    height:100% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative; */

}